# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/CPSC_219_W2024_MCDB_A1.iml
